// Widescreens

@include mediaXL {
}

// Desktops and laptops
@include mediaLg {
  #about {
    .top-container {
      grid-template-columns: auto;
    }

    .bottom-container {
      grid-template-columns: 1fr 1fr;

      .job-3 {
        grid-column: 1/3;
        width: 60%;
        justify-self: center;
      }
    }
  }
}

// Tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/portrait_small.jpg');
      width: 150px;
      background-position: center;
      background-size: cover;
      height: 150px;
    }
  }

  #about {
    padding: 0;
    overflow-x: hidden;

    .top-container {
      grid-template-columns: 1fr;
    }

    .bottom-container {
      grid-template-columns: 1fr;
      padding: 2.5rem;
      row-gap: 2rem;
    }

    h1 {
      padding-top: 2rem;
    }
    h2 {
      margin: 0 2rem;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #home {
    padding: 4rem 0;

    .lg-heading {
      width: 100vw;
      font-size: 3.5rem;
    }

    .sm-heading {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  #work-body {
    #work {
      .projects {
        grid-template-columns: 1fr;
        padding: 0;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .menu-branding {
    .portrait {
      background-position: center;
      background-size: cover;
    }
  }
  #home {
    padding: 4rem 0;

    .lg-heading {
      width: 100vw;
      font-size: 3.5rem;
    }

    .sm-heading {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  main#about {
    padding: 0 0.2rem;
    overflow-x: hidden;

    .about-info {
      .top-container {
        padding: 0;
        grid-template-columns: 1fr;
      }

      .bottom-container {
        padding: 1rem;
        grid-template-columns: 1fr;
      }
    }

    .lg-heading {
      padding-top: 2rem;
    }

    .sm-heading {
      margin-bottom: 1rem;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  #work-body {
    overflow-x: hidden;

    #work {
      padding: 1rem;
      padding-top: 2rem;

      .projects {
        grid-template-columns: 1fr;
        padding: 2rem;
      }
    }
  }

  #contact {
    overflow-x: hidden;

    .lg-heading {
      font-size: 4rem;
    }

    .boxes {
      div {
        word-break: break-word;
        font-size: 1.5rem;
      }
    }
  }
}
